body {
    font-family: 'Roboto', sans-serif;
    column-gap: 3;
  }
  
  .container {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: gray;
    width: 90%;
    margin-left: 100px;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  h1 {
    color: black;
    margin-top: 50px;
    font-size: 60px;
    margin: 0;
    margin-left: 220px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
    display: flex;
  }

  .titulo2 {
    color: black;
    font-size: 25px;
    font-weight: 900;
  }
  
.container-box {
  text-align: center;
  align-items: center;
 margin-bottom: 20px;
  margin-left: 100px;
}
.container-menu {
  justify-content: center;
  text-align: center;
  align-self: center;
}
  nav {
    background-color: orange;
    height: 70px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-items: center;
    width: 90%;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    padding: 1rem;
    text-align: center;
  }
  
  nav ul li a {
    width: 70%;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 16px;
    color: #3F3F3F;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  .button-container {
    display: grid;
    justify-content: center;
    margin-top: 50px;
  }
  
  button {
    font-size: 16px;
    color: black;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5%;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:hover {
    background-color: red;
  }
  
  aside h3 {
    color: white;
    margin-bottom: 1rem;
    background-color: #373737;
    width: 159%;
    margin-top: -0.5rem;
    margin-left: -70px;
    padding: 0.5rem;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  aside form {
    label {
      margin-bottom: 0.5rem;
      columns: white;
      color: black;
    }
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    width: 30%;
    display: grid;
    margin: 5px;
    padding: 0.5rem;
    border: 2px solid #CCC;
  }
  
  input[type="submit"] {
    background-color: orange;
    color: #FFF;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: orange;
  }
  
  .asidebar{
    width: 30%;
    grid-column: 1;
    grid-row: 1/3;
    background-color: gray;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-left: 100px;
  }
  
  .sidebar{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.div-sidebar {
    color: white;
    background-color: #3F3F3F;
    width: 30%;
    margin-top: -0.5rem;
    text-align: center;
    list-style-type: none;
    margin-left: 100px;
}

.titulo3 {
  color: orange;
  background-color: black;
  padding: 3px;
  font-style: italic;
  text-decoration: none;
}

.div-container {
  width: 30%;
  grid-column: 2;
  grid-row: 2/3;
  background-color: #cdcdcd;
 border-top-left-radius: 10px;
}

.titulo4 {
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  font-size: 15px;
  text-align: center;
}

.div-container-box {
  width: 30%;
  grid-column: 2;
  grid-row: 2/3;
  background-color: #cdcdcd;
  border-bottom-left-radius: 20px;
}

.titulo5 {
  color: white;
  background-color: black;
  padding: 0.5rem;
  font-size: 15px;
  text-align: center;
}

.div-container-rigth {
  width: 30%;
  grid-column: 3;
  grid-row: 3/3;
  float: right;
  margin-top: -1300px;
  background-color: #cdcdcd;
  border-top-right-radius: 10px;
}

.titulo6 {
  color: white;
  background-color: black;
  padding: 0.5rem;
  font-size: 15px;
  text-align: center;
  margin-top: -0.5rem;
  border-top-right-radius: 10px;
}

.div-container-rigth-bottom {
  width: 30%;
  grid-column: 3;
  grid-row: 3/3;
  float: right;
  margin-top: -900px;
  background-color: #cdcdcd;
  border-bottom-right-radius: 20px;
}

.titulo5 {
  color: white;
  background-color: black;
  padding: 0.5rem;
  font-size: 15px;
  text-align: center;
}
.img {
  width: 200px;
  height: 200px;
}


  footer {
    background-color: black;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-content: center;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    padding: 1em;
    text-align: center;
  }

  .pie {
    text-align: center;
    align-content: center;
    color: gray;
  }